 <ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-row style="align-items:center;" align-items-center>
  <ion-img src="https://image.shutterstock.com/image-illustration/mystery-cave-scifi-building-video-260nw-496542295.jpg" alt="foto-portada"></ion-img>
</ion-row>
<ion-grid>
<ion-row>
  <ion-col>
    <p>Colección</p>
    <p>500</p>
  </ion-col>
  <ion-col>
      <ion-item>
          <ion-avatar style="height:25vmin; width:25vmin;"> 
           <ion-img src="https://www.canarias-smash.com/images/pjs/renders/yoshi.png" alt="foto-perfil" (click)="openImagePicker()"></ion-img>
          </ion-avatar>  
       </ion-item>
  </ion-col>
  <ion-col>
      <p>Valoraciones</p>
      <p>500</p>
  </ion-col>
</ion-row>
<ion-row>
    <ion-col>
        <p>Favoritos</p>
        <p>500</p>
    </ion-col>
    <ion-col>
        <p>Seguidores</p>
        <p>500</p>
    </ion-col>
    <ion-col>
        <p>Reviews</p>
        <p>500</p>
    </ion-col>
</ion-row>
<ion-row>
  <ion-col>
      <p>Deseos</p>
      <p>500</p>
  </ion-col>
  <ion-col>
      <p>Seguidos</p>
      <p>500</p>
  </ion-col>
  <ion-col>
      <p>Logros</p>
      <p>500</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
      <ion-button expand="block">Escribir mensaje</ion-button>
  </ion-col>
  <ion-col>
      <ion-button expand="block">Seguir</ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
      <ion-button [routerLink]="['/nueva-review']" expand="block">Crear review</ion-button>
  </ion-col>
  <ion-col>
      <ion-button expand="block">Valorar juego</ion-button>
  </ion-col>
</ion-row>
</ion-grid>
<ion-list>
  <ion-list-header>
    Últimas actividades
  </ion-list-header>
  <ion-item>
      <ion-label><ion-icon name="trophy"></ion-icon>JuanGP93 ha ganado el logro "Comentarista"</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-icon name="chatboxes"></ion-icon>JuanGP93 ha hecho una review del juego Need For Speed Heat</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><ion-icon name="person-add"></ion-icon>JuanGP93 ha empezado a seguir a Darkgamer777</ion-label>
  </ion-item>
</ion-list>

 -->

<!-- <ion-header> 
   <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar> 
</ion-header>-->
<!--
<ion-content padding>
  <div>
    <ion-row>
      <ion-col size="6" offset="3">
        <img [src]="image" alt="this is the image"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button fill="outline" expand="block" size="small" (click)="openImagePicker()">Change Picture</ion-button>
      </ion-col>
    </ion-row>
  </div>
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Titulo</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Descripcion</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label position="floating" color="primary">Valoracion</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <ion-button class="submit-button" expand="block" type="submit" [disabled]="!validations_form.valid">Save</ion-button>
  </form>
  <ion-button class="delete-button" expand="block" color="danger" (click)="delete()">Delete</ion-button> 

</ion-content>
-->