<ion-tabs>

  <ion-tab-bar slot="bottom">

<!--     <ion-tab-button tab="tab1">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Tab One</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notificaciones">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="juegos">
      <ion-icon name="send"></ion-icon>
      <ion-label>Juegos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="md-person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

 
  </ion-tab-bar>

</ion-tabs>
