<ion-header>
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
    <ion-searchbar
    mode="ios"
    showCancelButton="focus"
    placeholder="Busca Juegos"
    cancelButtonText="Cancelar"
    animated
    apiSearch
    [(ngModel)]="searchTerm" (ionChange)="setSearchedItems()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<!-- <ion-list>
  <ion-list-header>Categoría</ion-list-header>
    <ion-item *ngFor="let entry of filters">
       <ion-label>{{entry.value}}</ion-label>
      <ion-checkbox  slot="end" (click)="checkboxClicked(entry)" slot="start"></ion-checkbox> 
    </ion-item>
</ion-list> -->


<ion-content>
<div *ngIf="juegos.length > 0 && searchTerm == ''">
  <ion-card *ngFor="let juego of juegos">
    <img src="{{juego.background_image}}" alt="" />
    <ion-card-header>
      <ion-badge color="dark">{{juego.rating}} </ion-badge>
      <ion-row><ion-card-subtitle *ngFor="let genero of juego.genres"><ion-badge color="secondary"> {{genero.name}} </ion-badge></ion-card-subtitle></ion-row>
      <ion-row><ion-card-subtitle *ngFor="let plataforma of juego.platforms"><ion-badge color="tertiary">{{plataforma.platform.name}}</ion-badge></ion-card-subtitle></ion-row>
      <ion-card-title>{{juego.name}}</ion-card-title>
      <!-- <ion-col (click)="toggleFavorite(item);$event.stopPropagation()" align-self-end>
        <ion-icon *ngIf="item.favorite !=true" class="favorite-icon" name="heart-empty"></ion-icon> 
        <ion-icon *ngIf="item.favorite !=true" class="favorite-icon" name="heart"></ion-icon>
      </ion-col>  -->
      
        <ion-button color="medium" (click)="toggleFavorite(juego);$event.stopPropagation()">
          <ion-icon  *ngIf="juego.favorite ==true"  class="favorite-icon" name="heart" color="danger"></ion-icon>
          <ion-icon  *ngIf="juego.favorite !=true"  class="favorite-icon" name="heart" color="light"></ion-icon> 
        </ion-button>
    </ion-card-header>
    <ion-card-content>
        <ion-button size="small"><ion-icon name="heart"></ion-icon></ion-button>
    </ion-card-content>
  
  </ion-card>
</div>

<!-- <div *ngIf="juegos.length > 0 && searchTerm != '' && searchededItems.length >0">

<div *ngIf="juegos.length > 0 && searchTerm != '' && searchededItems.length >0">

  <ion-card *ngFor="let juego of searchededItems">
      <img src="{{juego.background_image}}" alt="" />
      <ion-card-header>
        <ion-badge color="dark">{{juego.rating}} </ion-badge>
        <ion-row><ion-card-subtitle *ngFor="let genero of juego.genres"><ion-badge color="secondary"> {{genero.name}} </ion-badge></ion-card-subtitle></ion-row>
        <ion-row><ion-card-subtitle *ngFor="let plataforma of juego.platforms"><ion-badge color="tertiary">{{plataforma.platform.name}}</ion-badge></ion-card-subtitle></ion-row>
        <ion-card-title>{{juego.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button size="small"><ion-icon name="heart"></ion-icon></ion-button>
      </ion-card-content>
    
    </ion-card>
</div> -->
</ion-content>

