<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/nueva-review']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-title (click)="logout()">Log out</ion-title>
      </ion-button>
    </ion-buttons>
    <ion-title>Tasks List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="list-mini-content" padding>
  <div *ngIf="items.length > 0" class="list-mini">
    <ion-list>
      <ion-item *ngFor="let item of items" [routerLink]="['/perfil', item.payload.doc.id]">
        <ion-thumbnail slot="start">
          <img [src]="item.payload.doc.data().image">
        </ion-thumbnail>
        <ion-label>{{item.payload.doc.data().title}}</ion-label>
        <ion-button fill="clear" slot="end">Perfil</ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="items.length == 0" class="empty-list">
    Please create your first task.
  </div>
<!--     <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button>
          <ion-icon name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="logo-game-controller-b"></ion-icon>
          <ion-label>Juegos</ion-label>
        </ion-tab-button>
        <ion-tab-button>
            <ion-icon name="trophy"></ion-icon>
          <ion-label>Logros</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs> -->
</ion-content>
<ion-footer >
</ion-footer>
